body{
    margin: 0;
}

.main-nav{
    background-color: purple;
    color: palevioletred;
    font-size: 25px;
}

.logo{
    height:120px;
    width: 120px;
    border-radius: 10px;
}

.nav-list{
    list-style-type: none;
    margin: 0;
    padding-top: 25px
}
.center{
    float: right;
    margin: 25px;
    
}

li:hover{
    background-color: turquoise;
}

.content{
    height: 100vh;
}

.embeds1, .embeds2, .embeds3{
    display: block;
    margin: 0 auto;
}

.embeds1{
    width: 100%;
}

.footer{
    height: 60px;
    background-color: purple;
    margin-bottom: 0px;
}

.social{
    font-size: 45px;
    margin: 10px;
    display: inline-block;
}







/* Classes used for float boxes in HTML */
/* .box{
    height: 100px;
    width: 200px;
}

.red{
    background-color: red;
    float: left;
}

.green{
    background-color: green;
    float: right;
}

.blue{
    background-color: blue;
    float: left;
    clear: right;
}

.purple{
    background-color: purple;
    float: right;
    clear: right;
}

.yellow{
    background-color: yellow;
    float: left;
    clear: left;
}

.orange{
    background-color: orange;
    float: right;
    clear: right;
} */