body{
    margin: 0;
}

.main-nav{
    background-color: black;
    color: palevioletred;
    font-size: 25px;
}

.logo{
    height:100px;
    width: 100px;
}

.nav-list{
    list-style-type: none;
    margin: 0;
    padding-top: 25px
}
.center{
    float: right;
    margin: 25px;
}

li:hover{
    background-color: turquoise;
    color: black;
    border-radius: 2px;
    padding: 2px;
}

.content{
    height: 100vh;
}

.embeds1, .embeds2, .embeds3{
    display: block;
    margin: 0 auto;
}

.embeds1{
    width: 100%;
}

.button{
    border-radius: 10px;
    color: white;
    font-size: 24px;
    padding: 10px;
}

.button_success{
    border: thin solid #ccc;
    background-color: green;

}

.button-default{
    background-color: black;
}

.button_danger{
    width: 250px;
    background-color: red;
    border: none;
}

.footer{
    height: 60px;
    background-color: purple;
    margin-bottom: 0px;
}

.social{
    font-size: 45px;
    margin: 10px;
}







/* Classes used for float boxes in HTML */
/* .box{
    height: 100px;
    width: 200px;
}

.red{
    background-color: red;
    float: left;
}

.green{
    background-color: green;
    float: right;
}

.blue{
    background-color: blue;
    float: left;
    clear: right;
}

.purple{
    background-color: purple;
    float: right;
    clear: right;
}

.yellow{
    background-color: yellow;
    float: left;
    clear: left;
}

.orange{
    background-color: orange;
    float: right;
    clear: right;
} */